@{
    ViewBag.Title = "Employees";
}

<div class="jumbotron">
    <h1>@ViewBag.Title is all you got.</h1>
</div>

<div class="row col-xs-12">
    <button id="addEmployee" onclick=" addEmployee(); ">Add</button>
</div>
<div class="col-xs-12 col-sm-4">
    <div id="employeeList"></div>
</div>

<div class="col-xs-12 col-sm-4">
    <div>
        <label>Firstname</label>
        <input id="firstName" />
    </div>
    <div>
        <label>Lastname</label>
        <input id="lastName" />
    </div>
    <div>
        <button id="saveEmployee">Save</button>
        <button id="deleteEmployee">Delete</button>
    </div>
</div>

<div class="clearfix"></div>
<script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>
<script src="~/js/Employee/employee.js" type="text/javascript"></script>


