<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
    <head>
        <title>EmployeeBook</title>
        <link href="/Content/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/MasterDetailStyles.css" rel="stylesheet" media="screen">
        <script src="/Scripts/angular.js"></script>
        <script src="/App/3dParty/angular-file-upload.js"></script>
        <script src="/App/EmployeeCtrl.js"></script>
    </head>
    <body>
        <div id="divMasterDetailWrapper" ng-controller='EmployeeCtrl'>

            <!-- First, we have our left-hand filterable list of Employee records -->
            <div id="divMasterView">
                <label>Search: <input ng-model="searchText" autofocus></label>
                <div id="{{Employee.EmployeeId}}" class="cssOneRecord" ng-class="{selectedRecord: Employee.Id == selectedEmployee}" ng-repeat='Employee in listOfEmployees | filter:searchText | orderBy:"LastName"' ng-click="selectEmployee(Employee);">
                    <div>{{Employee.FirstName}} {{Employee.LastName}}</div>
                </div>
            </div>
            <!-- Then, we have our right-hand panel, showing one Employee's details -->
            <div id="divDetailView">
                <!-- Details of Employee -->
                <div id="Detail_{{Detail.EmployeeID}}" class="cssOneOrderRecord">
                    <div>
                        <table>                           
                            <tr>
                                <td>Lastname: </td>
                                <td><input ng-model="listOfDetails.LastName"/></td>
                            </tr>
                            <tr>
                                <td>Firstname: </td>
                                <td><input ng-model="listOfDetails.FirstName" /></td>
                            </tr>
                            <tr></tr>
                            <tr ng-repeat='Document in listOfDetails.CvDocuments'>
                                <td>
                                    DocName:
                                </td>
                                <td>{{Document.Name}}</td>
                                <td><button>Show</button></td>
                                <td><button>Delete</button></td>
                            </tr>
                            <tr><td><input type="file" id="file" name="file" />
                                    <button ng-click="addDocument()">Add Doc.</button>
                                </td></tr>
                        </table>
                    </div>
                </div>
                
                
                <button id="saveButton" ng-click="sendPut()" type="submit">Save</button>
                <button id="addButton" ng-click="sendPost()" type="submit">Add</button>
                <button id="deleteButton" ng-click="sendDelete()" type="submit">Delete</button>
            </div>
        </div>
    </body>
</html>